:root{
    --bg: #002f42;
    --hover: #00E78A;
    --effect: #ECF9F4;
    --text: #ECEFF1;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position:sticky;
    top: 0;
    background-color: var(--bg);
    width: 100%;
    padding: 10px 0px;
    z-index: 12;
}

header .menu{
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.link-container{
    max-width: 1600px;
    width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

header .logo{
    display: inline-flex;
    align-items: center;
}

.menu .logo a{
    text-decoration: none;
    color: var(--text);
    font-size: 50px;
    font-weight: 600;
}

header ul{
    display: inline-flex;
    margin-right: 100px;
}

header ul li{
    list-style: none;
    margin-left: 25px;
}

header ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    font-weight: 200;
    padding: 2px 6px;
    border-radius: 5px ;
    transition: 0.1s ease;
}

header ul li a:hover{
    color: var(--hover);
    font-weight: 400;
}

#carrossel{
    display: flex;
    background-color: red;
    height: 550px;
    width: 550px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

#carrossel .img{
    max-width: 800px;
    height: 450px;
    width: 400px;
    margin-right: 15px;
}

#About{
    box-sizing: border-box;
    max-width: 600px;
}