:root{
    --bg: #002f42;
    --hover: #00E78A;
    --effect: #ECF9F4;
    --text: #ECEFF1;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position:sticky;
    top: 0;
    background-color: var(--bg);
    width: 100%;
    padding: 10px 0px;
    z-index: 12;
}

header .menu{
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header .logo{
    display: inline-flex;
    align-items: center;
}

.menu .logo a{
    text-decoration: none;
    color: var(--text);
    font-size: 50px;
    font-weight: 600;
}

header ul{
    display: inline-flex;
    margin-right: 200px;
}

header ul li{
    list-style: none;
    margin-left: 25px;
}

header ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    font-weight: 200;
    padding: 2px 6px;
    border-radius: 5px ;
    transition: 0.1s ease;
}

header ul li a:hover{
    color: var(--hover);
    font-weight: 400;
}

.img-back{
    background-image: url(imagens/2139786-1920x1080-desktop-full-hd-high-tech-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

